.guitar {
    .row,
    .col-12,
    .col-11,
    .col-10,
    .col-9,
    .col-8,
    .col-7,
    .col-6,
    .col-5,
    .col-4,
    .col-3,
    .col-2,
    .col-1,
    .col {
        margin: 0;
        padding: 0;
    }

    .guitar__fret {
        border-right: 2px solid $black;
    }

    .guitar__fret-0 {
        border-right: 5px solid $black;
    }

    .guitar__legend {
        font-weight: bold;
    }

    .guitar__string-label {
        padding-top: 0.4rem;
        padding-right: 0.75rem;
    }

    .guitar__block,
    .guitar__finger {
        font-weight: bold;
        padding: 0.35rem 0 0;
        margin: 0.3rem 0;
    }

    .guitar__block {
        color: $white;  
        border: 0;
    }

    .guitar__finger {
        border-radius: 2rem;
        background-color: $white;
        border: 1px solid $black;
        color: $black;
    }

    .guitar__interval-root,
    .guitar__interval-octave,
    .guitar__interval-fourth,
    .guitar__interval-fifth {
        background-color: $maroon;
    }

    .guitar__interval-second {
        background-color: $blue;
    }

    .guitar__interval-third {
        background-color: $cyan;
    }

    .guitar__interval-augmented {
        background-color: $green;
    }

    .guitar__interval-diminished {
        background-color: $gray-light;
    }

    .guitar__interval-sixth {
        background-color: $magenta;
    }

    .guitar__interval-seventh {
        background-color: $orange;
    }

    .guitar__interval-dom-seventh {
        background-color: $pink;
    }

    .guitar__interval-ninth,
    .guitar__interval-eleventh {
        background-color: $yellow-light;
    }

    .guitar__chord {
        border: 2px solid $red;
        text-transform: uppercase;
    }

    hr {
        border-width:0;
        color: $black;
        background-color: $black;
    }

    .guitar__string-first hr,
    .guitar__string-second hr {
        height: 4px;
    }

    .guitar__string-third hr,
    .guitar__string-fourth hr {
        height: 5px;
    }

    .guitar__string-fifth hr,
    .guitar__string-sixth hr {
        height: 6px;
    }
}

.scale-block {
    background-color: #E3E3E3;
}

.guitar__interval-root-text,
.guitar__interval-octave-text,
.guitar__interval-fourth-text,
.guitar__interval-fifth-text {
    color: $maroon;
}

.guitar__interval-second-text {
    color: $blue;
}

.guitar__interval-third-text {
    color: $cyan;
}

.guitar__interval-augmented-text,
.guitar__interval-diminished-text  {
    color: $green;
}

.guitar__interval-sixth-text {
    color: $magenta;
}

.guitar__interval-seventh-text {
    color: $orange;
}